.hero {
  padding-top: 600px;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../../assets/images/PXL_20221220_103749892.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  
  .hero::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
  }
  
  .hero * {
    position: relative;
    z-index: 2;
  }
  
  .hero h1, .hero h2 {
    color: rgb(19, 18, 18);
  }
  
  .hero h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
  }  