nav.navbar.navbar-expand-lg {
    background-color: pink;
    transition: all .35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

.navbar-brand {
    color: blanchedalmond;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: rgb(238, 225, 204);
}

.navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: rgb(96, 25, 47);
}

.navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(96, 25, 47);
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus:hover {
    color: blanchedalmond;
}