html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/helvetica-neu.ttf');
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('./assets/fonts/LaBelleAurore.woff2');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2');
}

input,
textarea,
body {
  font-family: 'Helvetica Neue';
}

a {
  color: rgb(96, 25, 47);
  transition: all .35s;
  text-decoration: none;
}

a:hover, a:focus {
  color: blanchedalmond;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: aliceblue;
}

hr.light {
  border-color: aquamarine;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

